aside{
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    width: 25%;
    padding-bottom:2rem;
}

aside::-webkit-scrollbar {
    display: none;  /* Masque la barre de défilement */
}

#profile {
    position: fixed;
    bottom: 0;
    width: 25%;
    background-color:rgb(17,24,39) ;
    cursor: pointer;
}

#LogoutIcon{
    cursor: pointer;
    transition: transform 0.3s ease;
}

#LogoutIcon:hover{
    transform: scale(1.2);
}